.font {
    font-family: sans-serif;
}
.mainbody {
    background-image: url('minecraftWikimedia.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.center-align {
    text-align: center;
}
.headerBackground {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    padding: 10px;
}
::selection {
    background-color: purple;
    color: white;
}
button {
    margin: 15px;
    padding: 10px;
}
button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.grey-p {
    color: black;
    margin-left: 15px;
    background-color: grey;
    margin-right: 4px;
}
.white-h2 {
    background-color: white;
    margin-left: 15px;
    margin-right: 4px;
}
.lightblue-h3 {
    margin-left: 15px;
    background-color: lightblue;
    margin-right: 4px;
}
.contrast-h4 {
    margin-left: 4px;
    margin-right: 15px;
    background-color: black;
    color: white;
}